*.x
*.o
*.so
*.pyc

# me gustan los comentarios!
!*COMENTARIOS.txt

# no puedo acumular tantos archivos, sino se me 
# dificulta controlar mi codigo
*.dat
*.log
*.owned
*.out
*.h5
*prof*.txt
*zz
*zz1
*zz2
*.swp

*bckp*
*BCKP*
*test.png
output/
*png
